
    body {
        font-family: 'Roboto', sans-serif;
        background-color: #f8f9fa;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .container {
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 30px;
        max-width: 500px;
        text-align: center;
    }
    h1 {
        margin-bottom: 20px;
        font-weight: 700;
    }
    .form-group {
        text-align: left;
        margin-bottom: 20px;
    }
    label {
        font-weight: 600;
    }
    #qrCode {
        margin-top: 20px;
        display: none;
    }
    .qr-code-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    button {
        margin-top: 20px;
    }
    .spinner-border {
        display: none;
        margin-top: 20px;
    }
    #downloadBtn {
        display: none;
        margin-top: 20px;
    }
